/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

/* Fonts */
body, h1, h2, h3, h4, h5, h6, p, ul {
    // color: $body-text-color;
    color: $black;
} 

/*p, a, ul, ol {

}*/

ul li, ol li {
    line-height: 1.5;
    font-size: 19px;
}
/*dl, img {

}*/

blockquote {
    @extend h3;
    line-height: 2em;
}

h1, h2, h3 {
    font-family: $inter;
    color: $black;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-family: $noto-serif;
    font-size: 1.2em;
}

h2, h3, h4, h5, h6 {
    strong {
        font-weight: inherit;
    }
}

body {
    font-family: $noto-serif; 
}

a {
    color: $black;
    transition:$trans;
    &:hover {
        text-decoration: underline;
    }
}

.forma {
    font-family: $inter;
}

.btn {
    display:inline-block;
    padding:15px 40px;
    font-size: 20px;
    font-weight: $bold;
    text-decoration:none !important;
    transition:$trans;
    &:hover {
        color: $white;
        background-color:$black;
    }
    &-secondary {
        background: none !important;
        border: solid 1px $black;
        padding: 14px 39px;
        box-sizing: border-box;
        &:hover {
            color: $black;
            background: $gold !important;
            border-color: $gold;
        }
    }
}

p {
    font-size:18px;
    line-height: 1.5;
    margin-bottom:30px;
    font-family: $noto-serif;
    font-weight: $normal;

    a {
        font-family: $noto-serif;
        text-decoration: underline;
        font-weight: $semibold;

        &:hover {
            text-decoration: none;
            color:$black;
        }
    }
}